# Customer Segmentation - KMeans

In [2]:
import random 
import numpy as np
import pandas as pd
import os
import sys
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.float_format', lambda x: '%.f' % x)
pd.set_option('display.max_columns', None)

import seaborn as sb

from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split 
from sklearn.metrics import precision_recall_curve,roc_auc_score,fbeta_score,recall_score
from sklearn.metrics import plot_precision_recall_curve,average_precision_score,f1_score
from sklearn.metrics import plot_roc_curve
from sklearn import metrics

In [5]:
df = pd.read_csv('Engineered Transaction Data.csv')

In [6]:
df.head()

,id,restaurant_id,channel,date,year,month,weekofday,day,transaction_amount,#items_purchased,total_points_earned,total_points_burned,base_points_earned,bonus_points_earned,mobile_order,total_freq,sum_transaction_amount,sum_total_points_earned,sum_base_points_earned,sum_bonus_points_earned,sum_total_points_burned,daily_freq,daily_transaction_amount,daily_#items_purchased,daily_total_points_earned,daily_total_points_burned,daily_base_points_earned,daily_bonus_points_earned,days_since_last_purchase,cumsum_freq,cumsum_transaction_amount,cumsum_#items_purchased,cumsum_total_points_earned,cumsum_total_points_burned,cumsum_base_points_earned,cumsum_bonus_points_earned,Drive_Thru,Front_Counter,Curbside
0,21879,195500337555,Drive Thru,2021-07-01,2021,7,3,1,24,11,2352,0,2352,0,0,115,1752,175736,174179,1557,223500,21879,24,11,2352,0,2352,0,NaN,21879,24,11,2352,0,2352,0,1,0,0
1,69320,195500296326,Front Counter,2021-07-01,2021,7,3,1,0,1,0,0,0,0,0,198,367,36757,34983,1774,36000,69320,0,1,0,0,0,0,NaN,69320,0,1,0,0,0,0,0,1,0
2,198919,195500286556,Drive Thru,2021-07-01,2021,7,3,1,12,7,1159,0,1159,0,1,28,249,24857,24857,0,18000,198919,12,7,1159,0,1159,0,NaN,198919,12,7,1159,0,1159,0,1,0,0
3,200321,195500321196,Drive Thru,2021-07-01,2021,7,3,1,6,4,618,0,618,0,0,176,618,64575,61848,2727,48000,400642,8,6,818,0,818,0,NaN,400642,8,6,818,0,818,0,1,0,0
4,121937,195500337555,Front Counter,2021-07-01,2021,7,3,1,0,1,0,1500,0,0,1,9,155,15469,15469,0,16500,121937,0,1,0,1500,0,0,NaN,121937,0,1,0,1500,0,0,0,1,0